<header class="bg-red-500 p-4 shadow-md text-white">
   <nav class="container mx-auto flex justify-between items-center">
    <ul class="flex space-x-4">
      <li>
        <a href="/" class="<%= currentPage === 'index' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded font-semibold transition duration-300">Airbnb</a>
         </a>
      </li>
      <% if(isLoggedIn) { %>
       <li>
        <a href="/home" class="py-2 px-4 rounded font-semibold transition duration-300 <%= currentPage === 'home' ? 'bg-red-400' : 'hover:bg-red-400' %>">Home-List</a>
      </li>
      <li>
        <a href="/bookings" class="py-2 px-4 rounded font-semibold transition duration-300 <%= currentPage === 'bookings' ? 'bg-red-400' : 'hover:bg-red-400' %>">Booking</a>
      </li>
      <li>
        <a href="/favourites" class="py-2 px-4 rounded font-semibold transition duration-300 <%= currentPage === 'favourites' ? 'bg-red-400' : 'hover:bg-red-400' %>">Favourites</a>
      </li>
      <li>
        <a href="/host/add-home" class="py-2  px-4 font-semibold rounded transition duration-300 <%= currentPage === 'add-home' ? 'bg-red-400' : 'hover:bg-red-400' %>">Add Home</a>
      </li>
      <li>
        <a href="/host/host-home-list" class="py-2 px-4 rounded font-semibold transition duration-300 <%= currentPage === 'Host-home-list' ? 'bg-red-400' : 'hover:bg-red-400' %>">Host Home</a>
      </li>
      <% } %>

      <% if(!isLoggedIn){ %>
      <li>
        <a href="/login" class="relative bg-blue-600 hover:bg-blue-500 text-white font-semibold py-2 px-6 rounded-lg transition duration-300 ease-in-out transform hover:scale-105">Login</a>    
      </li>
     <% }else { %>
      <form action="/logout" method="post">
        <button class="relative bg-blue-600 hover:bg-blue-500 text-white font-semibold py-2 px-6 rounded-lg transition duration-300 ease-in-out transform hover:scale-105">LogOut</button>
      </form>
   <% }%>
    </ul>
   </nav>
  </header>